.Quote {
  width: 10vw;

  img {
    width: 100%;
  }

  &:hover {
    background-color: red;
  }
  
  &::before {
    width: 10rem;
  }

  figcaption {
    p:nth-of-type(2) {
        color: blue;
    }
  }
}

.dark {
  background-color: #404042;
  color: rgb(255, 244, 244);
}

.light {
  background-color: #ebebf7;
  color: rgb(32, 28, 28);
}